@import "@omnia-ds/tokens/styles/fonts.css";
@import "tailwindcss" source(none);
@import "@omnia-ds/tokens/styles/base.css";

@source "./";

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--background);
  font-size: var(--text-sm);
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 8px;
}
